---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const concatArrayTags = allPosts.map((p) => p.data.tags);
  const allTags = concatArrayTags.flat();
  const uniqueTags = [...new Set(allTags)];

  return uniqueTags.map((t) => ({
    params: {
        tag: t,
    },
    props: {
        posts: allPosts,
    }
  }));
}

const { tag } = Astro.params; // to be [???].astro File name?
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => post.data.tags?.includes(tag));
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {filteredPosts.map((post) => <BlogPost url={`/posts/${post.slug}/`} title={post.data.title}/>)}
  </ul>
</BaseLayout>
